<!Doctype>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Spring Framework Lerning</title>

</head>
<body>
    <h1>Book List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Tittle</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">123</td>
        <td th:text="${book.title}">Spring in Action</td>
        <td th:text="${book.publisher.name}">Wrox</td>
    </tr>
</table>

<br/>
    <h1>Author List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Second name</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">123</td>
            <td th:text="${author.firstName}">Joe</td>
            <td th:text="${author.lastName}">Kapahala</td>
        </tr>

    </table>

</body>
</html>